<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SellerTrade: $storeName</title>
    <meta name="keywords" content="$storeKeywords"/>
    <meta name="version" value="$version"/>
    <style>
    #include ("com/seller/trade/templates/style.css")
    </style>
</head>

<body>

<center><h1 class="logoFont">Seller.</span><span style="color:cornflowerblue">Trade</span></h1>
<div style="margin-bottom: 50px; margin-top:-50px">Buy and sell anything from anyone in the world using Bitcoin</div><br/>


    <form action="/searchPage" method="get">
        <input type="text" spellcheck="false" class="searchBox" name="q" autofocus/>
    </form>


<span style="">Served via <strong>$storeName</strong> server, shipping goods from $shippingFrom</span>
</center>

<div style="height:300px">&nbsp;</div>

#include ("com/seller/trade/templates/footer.vm")

</body>
</html>
