body {
    color: #111;
    font-family: Arial,sans-serif;
    text-rendering: optimizeLegibility;
    font-size:13px;
    max-height: 100%;
}

.logoFont {
    margin-top:150px;
    font-size:100px!important;
}

.logoFontHeader {
    margin-top:15px;
    font-size:30px!important;
    cursor: pointer;
}

.price {
    font-size: 17px!important;
    line-height: 1.255!important;
    color: #b12704!important;
    margin-bottom:10px;
}

.productTitle {
     font-size:21px!important;
     line-height: 1.3!important;
}

.bySeller {
    line-height: 19px;
    display:block;
    padding-bottom: 5px;
    border-bottom:1px solid #ccc;
    margin-bottom: 5px;
}

.inStock {
    color:#008a00!important;
    font-size:17px;
    line:1.255!important;
    margin:10px 0;
}
.description {
    margin:10px 0;
    line-height: 1.255!important;
}

.searchBox, .searchBoxHeader {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 30px 30px;
    height: 1.25em; width: 60%;
    font-size:40px;
}

.searchBoxHeaderForm {
  display:inline;
}

.searchBoxHeader {
    padding:0 0 0 8px;
    font-size:15px;
    height:23px;
    margin:10px 10px;
}
